.done-page {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  min-height: 100vh;
  width: 100%;
}

.favorite-page {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  min-height: 100vh;
  width: 100%;
}

.filter-buttons-list {
  align-items: center;
  background-color: rgb(173, 214, 173);
  display: flex;
  height: 80px;
  justify-content: space-around;
  width: 100%;
}

.filter-button {
  background-color: rgb(95, 143, 95);
  border: solid 3px white;
  border-radius: 10px;
  color: white;
  font-size: 1.1em;
  font-weight: 700;
  height: 50px;
  width: 25%;
}

.selected-filter-button {
  background-color: white;
  border: solid 3px rgb(214, 90, 81);
  color: rgb(214, 90, 81);
}

.recipe-card {
  align-items: center;
  background-color: rgb(214, 90, 81);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}

.recipe-card-inner-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.recipe-img-container {
  min-width: 30vw;
  padding-left: 3%;
  width: 30vw;
}

.recipe-img-container button {
  background-color: transparent;
  border: none;
  width: 100%;
}

.recipe-img-container img {
  border: solid 5px white;
  border-radius: 10px;
  width: 100%;
}

.share-button-container {
  align-items: center;
  background-color: rgb(228, 143, 137);
  border-radius: 25px;
  display: flex;
  flex-basis: 50%;
  height: 35px;
  justify-content: space-around;
  padding: 5px;
  width: 50%;
}

.share-button-container button {
  background-color: transparent;
  border: none;
  width: 30%;
}

.recipe-fav-container img {
  height: 50px;
  width: 50px;
}

.share-button-container button img {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  margin: 0;
  padding: 10px;
}

.share-button-popUp-container {
  align-items: center;
  color: white;
  display: flex;
  flex-grow: 1;
  font-size: 1.1em;
  font-weight: 700;
  justify-content: center;
}

.recipe-card-text-container {
  flex-grow: 1;
}

.attribute-container {
  box-sizing: border-box;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

.recipe-card-name-container {
  text-align: center;
  width: 100%;
}

.recipe-card-name-container button {
  color: white;
  font-size: 1.4em;
  font-weight: 900;
}

.recipe-fav-container h3 {
  color: white;
  font-size: 1.7em;
  font-weight: 900;
}

.recipe-card-name-container button h3 {
  margin: 5px;
}

.recipe-fav-container {
  align-items: center;
  background-color: rgb(95, 143, 95);
  display: flex;
  height: 50px;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
}

.date-container {
  align-items: center;
  background-color: rgb(95, 143, 95);
  box-sizing: border-box;
  color: white;
  display: flex;
  font-size: 1.3em;
  font-weight: 600;
  height: 50px;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}

.date-container span {
  font-family: Dancing Script , cursive;
  font-size: 1.2em;
  margin-right: 20px;
}

.tag-list {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}

.tag-list span {
  border: solid 3px white;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.fav-recipe-card {
  flex-flow: column nowrap;
}

@media screen and ( min-width : 600px ) {

  .filter-button {
    font-size: 1.8em;
    height: 60px;
    width: 30%;
  }

  .date-container {
    font-size: 2.2em;
    height: 100px;
  }

  .recipe-card-name-container button {
    font-size: 3em;
  }

  .tag-list span {
    font-size: 1.8em;
    padding: 15px;
  }

  .attribute-container {
    font-size: 2em;
  }

  .share-button-container {
    margin-top: 20px;
    min-height: 70px;
    padding: 10px 0;
  }

  .share-button-container img {
    border-radius: 20px;
    height: 50px;
    width: 50px;
  }

  .share-button-popUp-container {
    font-size: 2em;
  }

  .recipe-fav-container h3 {
    font-size: 3.5em;
  }

  .recipe-fav-container img {
    height: 80px;
    width: 80px;
  }

  .recipe-fav-container {
    height: 80px;
  }
}
