.footer-container {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: rgb(214, 90, 81, 0.3);
  height: 70px;
  border-top: solid 5px rgb(214, 90, 81);
}

.footer-button {
  background-color: rgb(219, 166, 163);
  border: solid 5px black;
  border-radius: 10px;
}

.selected-footer {
  background-color: rgb(214, 90, 81);
}